apiVersion: networking.k8s.io/v1
kind: Ingress

metadata:
  name: sync-ingress
spec:
  rules:
    - host: synceditor.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 5173